<a href="https://colab.research.google.com/github/PTIch06/YasynskyiLabs/blob/main/%D0%AF%D1%81%D0%B8%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9_%D0%9B%D0%A04-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Лабораторна робота №4 - 6
##з дисципліни "Технології обробки природомовної інформації"
###студента групи КН-31/2
###Ясинського Дениса
###Варіант №22

#ЛР4

In [2]:
# Створіть два будь-яких списки і зв'яжіть їх із змінними
firstList = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
secondList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('firstList: ', firstList)
print('secondList: ', secondList)

firstList:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
secondList:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Вийміть з першого списку другий елемент
print(firstList[1])

b

In [4]:
# Змініть в другому списку останній об'єкт. Виведіть список на екран
secondList[-1] = 1000
print(secondList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1000]

In [5]:
# З'єднайте обидва списки в один, присвоївши результат новій змінній. Виведіть отриманий список на екран.
newList = firstList + secondList
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 1, 2, 3, 4, 5, 6, 7, 8, 9, 1000]

In [6]:
# "Зніміть" зріз з об'єднаного списку так, щоб туди потрапили деякі частини обох перших списків. Зріз зв'яжіть з якоюсь новою змінною. Виведіть значення цієї змінної.
n = int(0.5*len(firstList))
print(n)
l = newList[n:3*n]
print(l)

5
['f', 'g', 'h', 'i', 'j', 1, 2, 3, 4, 5]

In [7]:
# Додайте до цього списку-зріза два нові елементи і знову виведіть його
l = l + [42, 'y']
print(l)

['f', 'g', 'h', 'i', 'j', 1, 2, 3, 4, 5, 42, 'y']

#ЛР5

In [9]:
#Створіть словник, зв'язавши його з змінною school, і наповніть його даними, які б відображали кількість учнів у десяти різних класах (наприклад, 1а, 1б, 2б, 6а, 7в і т.д.).
school = {'1a':33, '1b':24, '1c':25, '2a':30, '2b':31, '3a':27, '4a':24,
          '4b':31, '5a':29, '5c':23, '5d':23}
print(school)

{'1a': 33, '1b': 24, '1c': 25, '2a': 30, '2b': 31, '3a': 27, '4a': 24, '4b': 31, '5a': 29, '5c': 23, '5d': 23}

In [10]:
# Дізнайтеся скільки людей в якомусь класі.
print(school['1c'])

25

In [11]:
#3. Уявіть, що в школі відбулися зміни, внесіть їх до словника:
#в трьох класах змінилася кількість учнів;
school['1a'] = 20
school['4b'] = 40
school['5a'] = 3

#у школі з'явилося два нових класи;
school['5e'] = 22
school['6a'] = 25

#у школі розформували один з класів.
del(school['3a'])

#Виведіть вміст словника на екран.
print(school)

{'1a': 20, '1b': 24, '1c': 25, '2a': 30, '2b': 31, '4a': 24, '4b': 40, '5a': 3, '5c': 23, '5d': 23, '5e': 22, '6a': 25}

#ЛР6

In [23]:
#Створіть список, що складається з чотирьох рядків. Потім, за допомогою циклу for, виведіть рядки по черзі на екран.
st = ['string1', 'string2', 'string3', 'string4']
for elem in st:
    print(elem)

string1
string2
string3
string4

In [22]:
#Змініть попередню програму так, щоб в кінці кожної букви рядка додавалося тире. (Підказка: цикл for може бути вкладений в інший цикл.)
for elem in st:
    for ch in elem: 
        print(ch, end='-')
    print()

s-t-r-i-n-g-1-
s-t-r-i-n-g-2-
s-t-r-i-n-g-3-
s-t-r-i-n-g-4-

In [16]:
#Створіть список, що містить елементи цілочисельного типу, потім за допомогою циклу перебору змініть тип даних елементів на числа з плаваючою крапкою. (Підказка: використовуйте вбудовану функцію float ().)
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
i = 0
print(list)
for elem in list:
    list[i] = float(elem)
    i += 1
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

===========================================

In [21]:
#Напишіть функцію, яка обчислює суму трьох чисел і повертає результат в основну гілку програми.
def sum():
    a = int(input('a: '))
    b = int(input('b: '))
    c = int(input('c: '))
    return a + b + c

k = sum()
print(k)

a: 1
b: 2
c: 3
6

In [19]:
#Придумайте програму, в якій з однієї функції викликається друга. При цьому жодна з них нічого не повертає в основну гілку програми, обидві повинні виводити результати своєї роботи за допомогою функції print().
def f1():
    print('function 1')

def f2():
    print('function 2')
    f1()
f2()

function 2
function 1

========================================

In [24]:
#Створіть функцію + викличте її, передавши в якості аргумента значення глобальної змінної, потім будь-яке число і, нарешті, будь-який рядок.
def func1(num):
    n = num * 5
    print (n)

a = 10
func1(a)
func1(4)
func1('str')

50
20
strstrstrstrstr

In [28]:
#Виконайте за допомогою інтерпретатора Python скрипт, попередньо виправивши код функції так, щоб вона повертала значення змінної n:
def func(n):
    if n < 3:
        n = n*10
    return n
a = 1
res = func(a)
print(res)

10